body {
    background-color: black;
    margin: 0px;
}

#titleBlock {
    text-align: center;
}

#gameOverBlock {
    position: absolute;
    display: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: Comic;
    font-size: 25pt;
}

#playAgainBtn {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 520px;
    display: none;
    background-color: black;
    color: white;
    border: 1px solid green;
}

#editorCurrentBlock {
    width: 40px;
    height: 40px;
}

#editorFileList {
    position: absolute;
    top: 60px;
    background-color: blue;
    border: 1px yellow solid;
    display: none;
    color: white;
}

#editorFileList ul li:hover {
    border: 1px white solid;
}

#editorFileList ul {
    list-style: none;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container canvas, #editorBlock {
    position: absolute;
}

canvas {
    border: none;
}

#gameField {
    border: none;
}

#editorBlock {
    display: none;
    text-align: center;
    justify-content: center;
    top: 10px;
}